/**
 * Icons
 */
.icon {
	color: inherit;
	fill: currentColor;
	flex-shrink: 0;
	height: 1em;
	line-height: 1;
	width: 1em;
}

.tiktok {
    margin-left: 5px;
    width: 6px;
    height: 18px;
    background-color: #FFFF;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 6px;
        border: 6px solid #fff;
        border-top-color: transparent;
        transform: rotate(45deg);
        border-radius: 50%;
        top: 10px;
        left: -8px;
    }
}