/**
 * Icons
 */
.icon {
	color: inherit;
	fill: currentColor;
	flex-shrink: 0;
	height: 1em;
	line-height: 1;
	width: 1em;
}

.tiktok {
    margin-left: 4px;
    width: 8px;
    height: 18px;
    background-color: #FFFF;
}